@model dynamic

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            @Html.ActionLink("Make Call", "MakeCall", "Home", new { id = "447590566866" }, null)
        </div>
    </body>
</html>